:root {
  /* Colors */
  --heading-color: #212925;
  --sub-heading-color: #343a40;
  --content-color: #495057;
  --background-color: #f8f9fa;
  --container-color: #e9ecef;
  --focus-color: #3dccc7;

  /* Fonts */
  --font-primary: "Roboto";
  --font-secondary: "Poppins";
  --font-heading: "Play Fair Display";
  --font-logo: "DM Serif Display";

  /* Text Size */
  --text-lg-small: 12px;
  --text-lg-detail: 14px;
  --text-lg-body: 18px;
  --text-lg-subtitle: 28px;
  --text-lg-title: 32px;
  --text-lg-display: 60px;

  --text-md-small: 12px;
  --text-md-detail: 14px;
  --text-md-body: 16px;
  --text-md-subtitle: 16px;
  --text-md-title: 22px;
  --text-md-display: 32px;

  --text-sm-small: 10px;
  --text-sm-detail: 12px;
  --text-sm-body: 13px;
  --text-sm-subtitle: 15px;
  --text-sm-title: 17px;
  --text-sm-display: 22px;
}

/* Style for Logo */
.logo-container {
  margin: 0 auto;
  text-align: center;
}

.logo {
  font-family: var(--font-logo);
  font-size: var(--text-lg-display);
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 10px;
  text-decoration: none;
  line-height: 1.4;
  cursor: pointer;
}

/* Style for Tag Line */
.tag-line {
  font-family: var(--font-primary);
  font-size: var(--text-lg-body);
  font-weight: 400;
  color: var(--sub-heading-color);
  margin-top: 10px;
  line-height: 1.6;
}

/* Style for Nav Bar */
.nav-bar-divider {
  border: 1px solid var(--heading-color);
  padding: 0;
  margin: 10px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* Style for Nav Bar Container */
.navbar-nav {
  margin: 0 auto;
  text-align: center;
}

/* Style for Nav Bar Links */
.nav-link {
  font-family: var(--font-primary);
  font-size: var(--text-lg-body);
  font-weight: 400;
  color: var(--sub-heading-color);
  margin: 0 20px 0 20px;
  line-height: 1.4;
}

/* Style for Other Projects */
/* Style for Other Projects Entire Card */
.card {
  margin: 20px 0 20px 0;
}

.card-header {
  font-family: var(--font-heading);
  font-size: var(--text-lg-body);
  font-weight: 600;
  line-height: 1.4;
}

/* Style for Project Individual Cards */
/* Style for Card Text */
.card-title {
  font-family: var(--font-primary);
  font-size: var(--text-lg-detail);
  font-weight: 600;
  color: var(--sub-heading-color);
  line-height: 1.4;
}

.card-text {
  font-family: var(--font-secondary);
  font-size: var(--text-lg-small);
  font-weight: 400;
  color: var(--content-color);
}

/* Style for Card Button */
.btn-dark {
  font-family: var(--font-primary);
  font-size: var(--text-lg-detail);
  font-weight: 600;
  background-color: var(--heading-color);
  color: var(--container-color);
  border: 1px solid var(--heading-color);
  border-radius: 6px;
  margin: 0;
}

.btn-dark:hover {
  color: var(--focus-color) !important;
  transition: all 200ms ease-in-out !important;
}

/* Style for Pagination */
.page-link {
  color: var(--heading-color) !important;
  font-family: var(--font-primary);
  font-size: var(--text-lg-detail);
  font-weight: 400;
  border: 2px solid var(--container-color) !important;
}

.page-link:hover {
  background-color: var(--container-color) !important;
  font-weight: 600;
  transition: all 200ms ease-in-out !important;
}

.page-link.active {
  background-color: var(--focus-color) !important;
  font-weight: 600;
  border: 2px solid var(--focus-color) !important;
  transition: all 200ms ease-in-out !important;
}

/* Style for Footer*/
footer {
  color: var(--heading-color);
  font-family: var(--font-primary);
  padding: 20px;
  text-decoration: none;
  list-style: none;
  line-height: 1.4;
  cursor: pointer;
}

.footer-headings {
  font-family: var(--font-heading);
  font-size: var(--text-lg-body);
  font-weight: 600;
}

.social-icons {
  color: var(--content-color);
}

.social-icons:hover {
  color: var(--focus-color);
  transition: all 200ms ease-in-out;
}

.menu a,
.menu li {
  color: var(--content-color);
  font-family: var(--font-primary);
  font-size: var(--text-lg-detail);
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}

.menu a:hover {
  color: var(--focus-color);
  transition: all 200ms ease-in-out;
}

.email-input {
  font-family: var(--font-primary);
  border: 1px solid var(--heading-color);
  border-radius: 6px;
  margin: 0;
}

.btn-subscribe {
  font-family: var(--font-primary);
  font-weight: 600;
  background-color: var(--heading-color);
  color: var(--container-color);
  border: 1px solid var(--heading-color);
  border-radius: 6px;
  margin: 0;
}

.btn-subscribe:hover {
  color: var(--focus-color);
  transition: all 200ms ease-in-out;
}

.footer-coded {
  font-size: var(--text-lg-body);
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

/* Style for main elements */
.main-container {
  background-color: var(--background-color);
  color: var(--heading-color);
  font-family: var(--font-primary);
}

/* Style for Project */

/* Screen Adjustments */
/* Small Screens */
@media (min-width: 576px) {
  /* Style for Logo */
  .logo {
    font-size: var(--text-sm-display);
  }

  /* Style for Tag Line */
  .tag-line {
    font-size: var(--text-sm-body);
  }

  /* Style for Nav Bar */
  .navbar {
    font-size: var(--text-sm-body);
  }

  .nav-link {
    font-size: var(--text-sm-body);
  }

  /* Style for Other Projects */
  /* Style for Other Projects Entire Card */
  .card-header {
    font-size: var(--text-sm-title);
  }

  /* Style for Project Individual Cards */
  /* Style for Card Text */
  .card-title {
    font-size: var(--text-sm-subtitle);
  }

  .card-text {
    font-size: var(--text-sm-body);
  }

  /* Style for Card Button */
  .btn-dark {
    font-size: var(--text-sm-detail);
  }

  /* Style for Pagination */
  .page-link {
    font-size: var(--text-sm-detail);
  }

  /* Style for Footer*/
  .footer-headings {
    font-size: var(--text-sm-title);
  }

  .menu a,
  .menu li {
    font-size: var(--text-sm-body);
  }

  .footer-coded {
    font-size: var(--text-sm-small);
  }
}

/* Medium Screens */
@media (min-width: 600px) {
  /* Style for Logo */
  .logo {
    font-size: var(--text-md-display);
  }

  /* Style for Tag Line */
  .tag-line {
    font-size: var(--text-md-body);
  }

  /* Style for Nav Bar */
  .navbar {
    font-size: var(--text-md-body);
  }

  .nav-link {
    font-size: var(--text-md-body);
  }

  /* Style for Other Projects */
  /* Style for Other Projects Entire Card */
  .card-header {
    font-size: var(--text-md-subtitle);
  }

  /* Style for Project Individual Cards */
  /* Style for Card Text */
  .card-title {
    font-size: var(--text-md-body);
  }

  .card-text {
    font-size: var(--text-md-detail);
  }

  /* Style for Card Button */
  .btn-dark {
    font-size: var(--text-md-detail);
  }

  /* Style for Pagination */
  .page-link {
    font-size: var(--text-md-detail);
  }

  /* Style for Footer*/
  .footer-headings {
    font-size: var(--text-md-subtitle);
  }

  .menu a,
  .menu li {
    font-size: var(--text-md-body);
  }

  .email-input {
    font-size: var(--text-md-detail);
  }

  .btn-subscribe {
    font-size: var(--text-md-detail);
  }

  .footer-coded {
    font-size: var(--text-md-small);
  }
}

/* Large Screens */
@media (min-width: 800px) {
  /* Style for Logo */
  .logo {
    font-size: var(--text-lg-display);
  }

  /* Style for Tag Line */
  .tag-line {
    font-size: var(--text-lg-body);
  }

  /* Style for Nav Bar */
  .navbar {
    font-size: var(--text-lg-body);
  }

  .nav-link {
    font-size: var(--text-lg-body);
  }

  /* Style for Other Projects */
  /* Style for Other Projects Entire Card */
  .card-header {
    font-size: var(--text-lg-body);
  }

  /* Style for Project Individual Cards */
  /* Style for Card Text */
  .card-title {
    font-size: var(--text-lg-detail);
  }

  .card-text {
    font-size: var(--text-lg-small);
  }

  /* Style for Card Button */
  .btn-dark {
    font-size: var(--text-lg-small);
  }

  /* Style for Pagination */
  .page-link {
    font-size: var(--text-lg-small);
  }

  /* Style for Footer*/
  .footer-headings {
    font-size: var(--text-lg-subtitle);
  }

  .menu a,
  .menu li {
    font-size: var(--text-lg-detail);
  }

  .email-input {
    font-size: var(--text-lg-body);
  }

  .btn-subscribe {
    font-size: var(--text-lg-body);
  }

  .footer-coded {
    font-size: var(--text-lg-detail);
  }
}
