:root {
  /* Colors */
  --heading-color: #212925;
  --sub-heading-color: #343a40;
  --content-color: #495057;
  --background-color: #f8f9fa;
  --container-color: #e9ecef;
  --focus-color: #3dccc7;

  /* Fonts */
  --font-primary: "Roboto";
  --font-secondary: "Poppins";
  --font-heading: "Play Fair Display";
  --font-logo: "DM Serif Display";

  /* Text Size */
  --text-lg-small: 12px;
  --text-lg-detail: 14px;
  --text-lg-body: 18px;
  --text-lg-subtitle: 28px;
  --text-lg-title: 32px;
  --text-lg-display: 60px;

  --text-md-small: 12px;
  --text-md-detail: 14px;
  --text-md-body: 16px;
  --text-md-subtitle: 16px;
  --text-md-title: 22px;
  --text-md-display: 32px;

  --text-sm-small: 10px;
  --text-sm-detail: 12px;
  --text-sm-body: 13px;
  --text-sm-subtitle: 15px;
  --text-sm-title: 17px;
  --text-sm-display: 22px;
}
.main-timer-container {
  background-color: transparent;
  padding: 13px 18px;
}

/* Length Control Styling */
.length-control {
  color: var(--content-color);
  margin: 0 auto;
  text-align: center;
  padding: 13px 18px;
  background-color: var(--container-color);
  border: 1px solid var(--container-color);
  border-radius: 6px;
}

.btn-level {
  color: var(--content-color);
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-level:hover {
  color: var(--focus-color);
  transition: all 200ms ease-in-out;
}

.length-control-heading {
  color: var(--content-color);
  padding: 0 5px 0 5px;
  font-family: var(--font-primary);
  font-weight: 400;
}

/* Timer Styling */
.timer {
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.timer-wrapper {
  padding: 13px 18px;
  background-color: var(--container-color);
  border: 1px solid var(--container-color);
  border-radius: 6px;
}

.timer-wrapper-heading {
  color: var(--content-color);
  font-family: var(--font-secondary);
  font-weight: 400;
}

.timer-wrapper-time-left {
  color: var(--heading-color);
  font-family: var(--font-secondary);
  font-weight: 600;
}

/* Timer Control Styling */
.timer-control {
  margin: 0 auto;
  text-align: center;
  padding: 10px 15px;
  background-color: var(--container-color);
  border: 1px solid var(--container-color);
  border-radius: 6px;
  width: fit-content;
}
.timer-control-btn {
  color: var(--sub-heading-color);
  padding: 13px 18px;
  background-color: transparent;
  border: none;
  outline: none;
}

.timer-control-btn:hover {
  color: var(--focus-color);
  transition: all 200ms ease-in-out;
}

.timer-control-btn:active {
  color: var(--focus-color);
  transition: all 200ms ease-in-out;
}

/* Screen Adjustments */
/* Small Screens */
@media (min-width: 576px) {
  /* Length Control Styling */
  .length-control-heading {
    font-size: var(--text-sm-body);
  }

  /* Timer Styling */
  .timer-wrapper-heading {
    font-size: var(--text-sm-subtitle);
  }

  .timer-wrapper-time-left {
    font-size: var(--text-sm-title);
  }
}

/* Medium Screens */
@media (min-width: 768px) {
  /* Length Control Styling */
  .length-control-heading {
    font-size: var(--text-md-body);
  }

  /* Timer Styling */
  .timer-wrapper-heading {
    font-size: var(--text-md-subtitle);
  }

  .timer-wrapper-time-left {
    font-size: var(--text-md-title);
  }
}

/* Large Screens */
@media (min-width: 1024px) {
  /* Length Control Styling */
  .length-control-heading {
    font-size: var(--text-lg-body);
  }

  /* Timer Styling */
  .timer-wrapper-heading {
    font-size: var(--text-lg-subtitle);
  }

  .timer-wrapper-time-left {
    font-size: var(--text-lg-title);
  }
}
